* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background: #4801ff;
  /* background: #040d2e; */
}

.navigation-wrapper {
  transform: perspective(80em) rotateY(-30deg);
}
.nav-btns:hover {
  transform: skew(-13deg, 4deg);
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 0.3s;
}
.nav-btns:not(:hover) {
  transition: all ease-in-out 0.3s;
}

.nav-btns {
  font-size: 7em;
  font-weight: 700;
  background-clip: text;
  color: #000;
  letter-spacing: 7px;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 2px;
  line-height: 1.1em;
  cursor: pointer;
}

/* Profile Card */
.profile-container {
  width: 23em;
  height: 14em;
  position: fixed;
  top: 15em;
  left: 12em;
  overflow: hidden;
}
.profile-box {
  border: 1px solid rgba(255, 255, 255, 0.509);
  width: 14em;
  height: 14em;
  position: fixed;
  top: 15em;
  transition: all ease-in-out 0.4s;
  left: 12em;
  border-radius: 10px;
}
.profile-container:hover .profile-box {
  top: 19em;
  transform: perspective(70em) rotateX(75deg);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.profile-img {
  transition: all ease-in-out 0.4s;
}
.profile-container:hover .profile-img {
  transform: translate(0, -50%);
}
.profile-container:hover {
  overflow: visible;
}
/* profile title */
.profile-title {
  color: #ccf381;
}
.title-one {
  position: fixed;
  top: 8.7em;
  font-size: 0.5em !important;
  transition: all ease-in-out 0.6s;
  left: 12em;
  letter-spacing: 0.3em;
}
.title-two {
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: fixed;
  top: 8.45em;
  left: 17.5em;
  transition: all ease-in-out 0.6s;
  letter-spacing: -0.3em;
  font-size: 0.5em !important;
}

.profile-container:hover .title-one {
  top: 9em;
  left: 19em;
}
.profile-container:hover .title-two {
  top: 10.2em;
  left: 21.5em;
  writing-mode: horizontal-tb;
  letter-spacing: 0.3em;
}

.profile-info p {
  color: #fff;
  letter-spacing: 0.1em;
  position: fixed;
  top: 12.5em;
  font-size: 22px;
  left: 20.7em;
  width: 15em;
  height: 100%;
  font-family: "Caveat", cursive;
}

.transition {
  background-color: #ccf381;
  z-index: 9999 !important;
}

/* project page */
.glass-drop{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.background-circle{
  background:repeating-radial-gradient(rgb(0,0,0,0.4) 2px, #4801ff 5px, #4801ff 100px);
}